
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
font-family: 'Mukta', sans-serif;
height:100vh;
min-height:550px;
background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position:center;
position:relative;
 
}
a{
text-decoration:none;
color:#444444;
}
.login-reg-panel{
 position: relative;
 top: 50%;
 transform: translateY(-50%);
text-align:center;
 width:70%;
right:0;left:0;
 margin:auto;
 height:400px;
 background-color: rgba(255, 116, 35, 0.9);
}
.white-panel{
 background-color: rgba(255,255, 255, 1);
 height:500px;
 position:absolute;
 top:-50px;
 width:50%;
 right:calc(50% - 50px);
 transition:.3s ease-in-out;
 z-index:0;
 box-shadow: 0 0 15px 9px #00000096;
}

.login-reg-panel{
 color: white;
}
.login-reg-panel #label-login,
.login-reg-panel #label-register{
 border:1px solid #9E9E9E;
 padding:5px 5px;
 width:150px;
 display:block;
 text-align:center;
 border-radius:10px;
 cursor:pointer;
 font-weight: 600;
 font-size: 18px;
}
.login-info-box{
 width:30%;
 padding:0 50px;
 top:20%;
 left:0;
 position:absolute;
 text-align:left;
}
.register-info-box{
 width:30%;
 padding:0 50px;
 top:20%;
 right:0;
 position:absolute;
 text-align:left;

}
.right-log{right:50px !important;}

.show-log-panel{
 display:block;
 opacity:0.9;
}
.login-show .login-show input[type="password"]{
 width: 100%;
 display: block;
 margin:20px 0;
 padding: 15px;
 border: 1px solid #b5b5b5;
 outline: none;
}

.login-campos{
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #b5b5b5;
}

.login-boton {
 max-width: 150px;
 width: 100%;
 background: #444444;
 color: #f9f9f9;
 border: none;
 padding: 10px;
 text-transform: uppercase;
 margin-top: 10px;
 margin-right: 10%;
 border-radius: 2px;
 float:right;
 cursor:pointer;
 display: block;
}

.login-botonReg {
 max-width: 150px;
 width: 100%;
 color: #f9f9f9;
 border: solid;
 border-color: white
 padding: 10px;
 text-transform: uppercase;
 margin-top: 10px;
 margin-right: 35%;
 border-radius: 8px;
 float:right;
 cursor:pointer;
  background: #44444400;
  height: 40px;
}

.login-msj{
 display:block;
 padding:10px 0;
 margin-top: 5px;
 text-decoration:none;
 color:rgba(255, 116, 35, 0.9);
}

.login-title{
 display:inline-block;
 margin: auto;
 margin-top: 20%;
 color: #3b3b25;
}

.login-recu{
 display:inline-block;
 margin: auto;
 color: #3b3b25;
 font-size: smaller;
 margin-top: 2%;
}

.credit {
 position:absolute;
 bottom:10px;
 left:10px;
 color: #3B3B25;
 margin: 0;
 padding: 0;
 font-family: Arial,sans-serif;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 letter-spacing: 1px;
 z-index: 99;
}

login-reg{
  color: white;
}
